table td{
    border: 1px solid black;
    border-radius: 5px;
    border-collapse: collapse;
    padding: 30px;
      
}
table{
    border: 1px solid black;
    border-radius: 5px;
    background-color:  rgb(93, 90, 90)
}
table th,td{
    margin-left: 10px;
}
table .c{
    background-color: red;
}
table td{
    background-color: white;
}
thead th{
    border: none;
    font-size: 2rem;
}
table,td{
    margin-left: 40%;
    border-spacing: 5px;  
}
table td:hover{
    background-color: grey;
}